nav{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 2vh 2vw;
    background: #007CBE;
}
.logo{
    height: 5vh;
}
.nav-soctikli{
    display: flex;
    justify-content: space-between;
    width: 14vh;
}
.nav-soctikli a{
    height: 4vh;
}
.nav-soctikli img{
    height: 100%;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(205deg) brightness(102%) contrast(103%);
}
